*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 350px;
    height: 470px;
    background-color:slateblue;
    border-radius: 10px;
    position: relative;
    top: 50px;

}
.out{
    width: 300px;
    height: 50px;
    margin-top: 45px;
    margin-left:25px ;
    display: flex;
    align-items: center;
    justify-content
    :space-between;

}#result {
    width: 218px;
    height: 70px;
    line-height: 70px; /* same as height */
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    border-radius: 10px;
    text-align: right;
    padding-right: 4px;
    direction: ltr;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

      
    

#de{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(229, 193, 76) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    }
.d1{
    width:300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content
    :space-between;
    margin-top: 30px;
    margin-left:25px ;
}
#b1{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(161, 149, 240) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b2{
width:65.5px ;
height: 65.5px;
border: none;
border-radius: 10px;
background-color:rgb(161, 149, 240) ;
font-size: 55px;
color: white;
font-family:Arial, Helvetica, sans-serif;
}
#b3{
width:65.5px ;
height: 65.5px;
border: none;
border-radius: 10px;
background-color:rgb(161, 149, 240) ;
font-size: 55px;
color: white;
font-family:Arial, Helvetica, sans-serif;
}
#b4{
width:65.5px ;
height: 65.5px;
border: none;
border-radius: 10px;
background-color:rgb(229, 193, 76) ;
font-size: 55px;
color: white;
font-family:Arial, Helvetica, sans-serif;
}


.d2{
    width:300px;
    height: 70px;
    margin-left:25px ;
    margin-top: 12.5px;
    display: flex;
    align-items: center;
    justify-content
    :space-between;
}
#b5{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(161, 149, 240) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b6{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(161, 149, 240) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b7{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(161, 149, 240) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b8{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(229, 193, 76) ;
    font-size: 40px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}


.d3{
    width:300px;
    height: 70px;
    margin-top: 12.5px;
    margin-left:25px ;
    display: flex;
    align-items: center;
    justify-content
    :space-between;
}
#b9{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(161, 149, 240) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b10{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(161, 149, 240) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b11{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(161, 149, 240) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b12{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(229, 193, 76) ;
    font-size: 60px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}



.d4{
    width:300px;
    height: 70px;
    margin-top: 12.5px;
    margin-left:25px ;
    display: flex;
    align-items: center;
    justify-content
    :space-between;
}
#b13{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(229, 193, 76) ;
    font-size: 40px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b14{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(161, 149, 240) ;
    font-size: 55px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b15{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(229, 193, 76) ;
    font-size: 60px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#b16{
    width:65.5px ;
    height: 65.5px;
    border: none;
    border-radius: 10px;
    background-color:rgb(229, 193, 76) ;
    font-size: 60px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}